    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
    }
    
    body {
        width: 100%;
        min-width: 100vh;
        background-color: rgb(250, 250, 250);
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    
    .instagram-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 68%;
        height: 100vh;
    }
    
    #ins-wrapper {
        margin-top: 30px;
        background-image: url("./img/instagram-celular.png");
        width: 454px;
        height: 618px;
    }
    
    .instagram-phone img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .instagram-continue {
        display: flex;
        align-items: center;
        /*horizontal*/
        justify-content: space-around;
        /* vertical*/
        flex-direction: column;
        width: 50%;
        min-height: 34rem;
    }
    
    .group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        padding: 1rem 0;
        border: 1px solid lightgray;
    }
    
    .group:nth-child(1) {
        min-height: 19rem;
    }
    
    .instagram-logo {
        height: 3rem;
    }
    
    .profile-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        margin: 25px 0 25px 0;
    }
    
    .profile-photo img {
        height: 7rem;
    }
    
    .instagram-login {
        background-color: #0895f6;
        color: #ffffff;
        padding: 10px;
        border-radius: 4px;
    }
    
    .instagram-logout {
        color: #0895f6;
        margin: 1rem;
    }
    
    .not-account {
        color: rgb(160, 160, 160);
    }
    
    .link-blue {
        color: #0895f6;
    }
    
    .get-the-app {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1.3rem 0;
    }
    
    .download {
        display: flex;
        width: 100px;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }
    
    .app-download {
        height: 3rem;
        width: 3rem;
        background-size: 10rem;
    }
    
    .app-download:nth-child(1) {
        background-image: url('./img/apple-button.png');
    }
    
    .app-download:nth-child(2) {
        background-image: url('./img/googleplay-button.png');
    }
    
    #slider {
        width: 240px;
        height: 490px;
        padding: 100px 0 0 151px;
        position: relative;
    }
    
    #slider img {
        opacity: 0;
        position: absolute;
        transition: opacity 1500ms;
    }
    
    #slider img.selected {
        opacity: 1;
    }
    /* media queries*/
    
    @media (max-width: 1024px) {
        .instagram-wrapper {
            width: 90%;
        }
    }
    
    @media(max-width: 872px) {
        .instagram-wrapper {
            width: 80%;
        }
        .instagram-phone {
            display: none;
        }
        .instagram-continue {
            width: 80%;
        }
    }
    
    @media(max-width: 450px) {
        body {
            background-color: #ffffff;
        }
        .instagram-wrapper {
            width: 60%;
        }
        .instagram-phone {
            display: none;
        }
        .instagram-continue {
            width: 60%;
        }
        .group {
            border: 1px solid transparent;
        }
    }